* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: 
  #ffb309;
  color: #ffff;
  font-family: 'Handlee', cursive;
}

/* Flexbox principal*/
.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
/*alto de pagina*/
.vh100 {
  height: 100vh;
}

/*ancho de pagina*/
.vw100 {
  width: 80vw;
}
/* padding */
.padding2em {
  padding: 2em;
}
.padding03 {
  padding: 0.3em;
}
/* sección HOME */
.search-input {
  height: 8vh;
}
.search-btn i{
  font-size: 20px;
}
/* sección GALLERY*/
.search-gallery img {
  border: 2px solid #ffff;
}

.search-gallery img:hover {
  background-color: #ffb309;
  opacity: 10;
}
